## Strategy

1. collect the 10,000 songs data
2. in billboard top 100 or popularity, label it by bool value 
3. use some machine learning to predict weather the songs are in top100 or not.

## One milion songs of 1990-2010

In [1]:
import pandas as pd
import random
pd.set_option("display.max_rows", None)

In [2]:
df = pd.read_csv("tracks_per_year.txt", sep = "<SEP>", header=None)
df.columns=["year", "track_id", "artist", "song"]

/Users/kentakawajiri/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [8]:
df.year.value_counts().sort_index()

1922        6
1924        5
1925        7
1926       19
1927       43
1928       52
1929       93
1930       40
1931       35
1932       11
1933        6
1934       29
1935       24
1936       25
1937       28
1938       19
1939       35
1940       52
1941       32
1942       24
1943       14
1944       15
1945       30
1946       29
1947       57
1948       43
1949       60
1950       84
1951       74
1952       77
1953      133
1954      123
1955      275
1956      565
1957      598
1958      583
1959      592
1960      424
1961      572
1962      605
1963      902
1964      945
1965     1120
1966     1377
1967     1718
1968     1867
1969     2211
1970     2350
1971     2131
1972     2288
1973     2596
1974     2186
1975     2482
1976     2179
1977     2502
1978     2926
1979     3108
1980     3101
1981     3167
1982     3597
1983     3386
1984     3368
1985     3578
1986     4220
1987     5125
1988     5613
1989     6672
1990     7258
1991     8650
1992     9547
1993    10529
1994    12127
1995    13260
1996    14135
1997    15182
1998    15858
1999    18262
2000    19293
2001    21604
2002    23472
2003    27389
2004    29618
2005    34960
2006    37546
2007    39414
2008    34770
2009    31051
2010     9397
2011        1
Name: year, dtype: int64

In [170]:
df_9010 = df[(df.year >= 1990) & (df.year <= 2010)] #get the data of 1990-2010.

In [171]:
ran_list = random.sample(list(df_9010.index), 10000) #get the random list

In [181]:
#make the dataframe
df_song = pd.DataFrame(columns=["year", "track_id", "artist", "song"])
for i in ran_list:
    df_song = df_song.append(df_9010.loc[[i]], ignore_index=True)

In [186]:
df_song.head()

   year                        artist                                song
0  1996  Busta Rhymes featuring Q-Tip      Ill Vibe (Explicit LP Version)
1  2000    North Mississippi Allstars                   Shake 'Em On Down
2  2005                      Zen Café                      Hontelot pojat
3  2008                        Estopa  El Run Run (Bonus Track) (Maqueta)
4  2003              Blood Red Throne       Affiliated With the Suffering

In [185]:
df_song = df_song.drop("track_id", axis=1)

In [187]:
df_song.to_csv("msongs.csv")